@model Agenda.Domain.Entities.Lista_Tarefas

<div class="w-100 card border-0 p-4">
    <div class="card-header rounded m-lg-0 py-3" style="background-color: #EC9706;">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Apagar Tarefas</h2>
            </div>
        </div>
    </div>

    <div class="card-body border rounded p-6">
        <form method="post" class="row">
            <input asp-for="Id" hidden />
            <div class="p-3">

                <div class="form-floating py-1 col-12">
                    <input asp-for="Tipo" disabled class="form-control border-bottom shadow" />
                    <label asp-for="Tipo" class="ms-2">Nome</label>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Descrição" disabled class="form-control border-bottom shadow" />
                    <label asp-for="Descrição" class="ms-2">Descrição</label>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Criação" disabled class="form-control border-bottom shadow" />
                    <label asp-for="Criação" class="ms-2">Criação</label>
                </div>

                <div class="row pt-2">
                    <div class="col-12 col-md-3">
                        <button type="submit" class="btn btn-danger w-100">
                            <i class="bi bi-trash-fill"></i> Apagar
                        </button>
                    </div>
                    <div class="col-12 col-md-3">
                        <a asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Cancelar
                        </a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
